body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
body p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 161%;
}
.section-flex{
    display: flex;
}
/*** Food Order Section CSS ***/
.food-order{
    padding: 70px 0px;
    align-items: center;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width h1{
    color: #575757;
    font-size: 60px;
    font-weight: bold;
}
.half-width p{
    color: #828282;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 65px;
}
.half-width a{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    padding: 20px 35px;
    border-radius: 100px;
    font-weight: 500;
    margin-top: 50px;
}
.half-width img{
    width: 90%;
}
.skip{
    color: #FB934A;
}

/*** About Me Section CSS ***/
.about-me{
    background-image: url(images/shapes/7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 561px;
    align-items: center;
}
.about-me h1{
    font-size: 40px;
}
.about-me img{
    width: 91.5%;
    object-position: right top;
}
.about-me p{
    color: #18191F;
    font-size: 18px;
    width: 81%;
    line-height: 200%;
}

/*** Recipes Section CSS ***/
.recipe-section{
    margin: 70px 0px;
}
.my-recipes{
    color: #676767;
    text-align: center;
    width: 50%;
    margin: auto;
}
.my-recipes h1{
    font-size: 35px;
}
.recipes{
    box-shadow: 10px 10px 40px #b3b2b2;
    width: 30%;
    margin: 0% 0% 0% 5%;
    padding: 1%;
    border-radius: 20px;
}
.recipes img{
    width: 100%;
    border-radius: 20px;
}
.last-recipes-margin{
    margin-right: 5%;
}
.recipes h2, p{
    color: #18191F;
    width: 100%;
    text-align: left;
}

/*** Social Media Section CSS ***/
#social-media-section{
    height: 250px;
}
.social-followers{
    width: 33.3%;
    padding: 1% 9%;
    font-size: 21px;
}
.social-media{
    width: 88%;
}

/*** Footer Section CSS ***/
footer{
    background-color: #0B0D17;
    text-align: center;
    height: 200px;
    overflow: hidden;
    padding-top: 6%;
}
footer h1{
    color: #5B5B5B;
    font-size: 28px;
}
footer span{
    color: #FB934A;
}
footer small{
    color: #fff;
}